h2 {
    font-size: 1.5em;
    margin: 20px;
    padding: 40px;
}

html {
	min-height: 100%;
}

h1 {
	margin: 30px;
	padding: 60px;
	text-transform: uppercase;
	font-weight: bold;
}

body {
	color: white;
	background: linear-gradient(#00134D, #00394D, #004D39, #004D13);
	max-width: 80%;
}

#all {
	margin: 10px;
	padding: 20px;
	position: relative;
	left: 250px;
}

#navBar {
	background-color: #004D39;
	left: 50px;
	padding-right: 50px;
	position: fixed;
	max-width: 10%;
	padding-top: 50px;
	padding-bottom: 50px;
	border-style: solid;
	border-color: white;
}

ul {
	list-style-type: none;
	color: white;
}

a:link {
	color: white;
}
a:visited {
	color: white;
}
a:hover {
	color: gray;
}


