html {
min-height: 100%;
}

h1 {
text-transform: uppercase;
font-weight: bold;
}

body {
	color: white;
	background: linear-gradient(#00134D, #00394D, #004D39, #004D13);
	max-width: 80%;
}

#all {
	position:relative;
	left: 250px;
}

#navBar {
	margin: 10px;
	position: relative;
	top: 150px;
}

ul {
	list-style-type: none;
	color: white;
}

a:link {
color: white;
}
a:visited {
color: white;
}
a:hover {
color: gray;
}


